<div class="portfolio-item">
	<a href="{{ project.url }}">
		<span class="thumb-info thumb-info-lighten border-radius-0">
			<span class="thumb-info-wrapper border-radius-0">

				<img width="300" height="300" src="{{ project.featured_image }}" />

				<span class="thumb-info-title">
					<span class="thumb-info-inner">{{ project.title }}</span>
					<span class="thumb-info-type">{{ project.project_type }}</span>
				</span>
				<span class="thumb-info-action">
					<span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
				</span>

			</span>
		</span>
	</a>
</div>